/******************************************************************************
**  Description:    Project page CSS styles
******************************************************************************/

.page-content {
    width: 85%;
}

.form-card {
    width: 530px !important;
    margin-left: auto;
    margin-right: auto;
}

.table-card {
    width: 700px !important;
    margin-left: auto;
    margin-right: auto;
}
