/*************************************************************
**  Description:  User dashboard overall css styles
*************************************************************/

#top-bar {
    background-color: rgb(45, 122, 153);
    padding-top: 7px;
}

#bug-logo {
    height: 70px;
}

/* User dashboard */
#dashboard-top-bar {
    background-color: rgb(52, 144, 180);
}

#login-box {
    margin: auto;
    width: 96%;
    margin-top: 2%;
}

#logout-button {
    background-color: gray;
}

#user-history-chart {
    height: 500px;
}

#update-account-link {
   color: white; 
}

/* User account update form */
#recordForm {
    width: 455px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #d8e9e962;
}

#recordForm label, input {
    margin: 2px;
}

#submit {
    margin-top: 30px;
}