/*************************************************************
**  Description:  Auth service main css styles
*************************************************************/

#top-bar {
    background-color: rgb(45, 122, 153);
    padding-top: 7px;
}

#foot-logo {
    height: 65px;
    margin-top: 5px;
    margin-left: 15px;
}

#login-box {
    width: 950px;
    margin: auto;
    margin-top: 6%;
}

#login-top-bar {
    background-color: rgb(52, 144, 180);
}

#email {
    width: 400px;
    margin-top: 10px;
}

#password {
    width: 400px;
}

#login-status {
    margin-top: 10px;
}

#sign-up {
    margin-right: 215px;
    margin-bottom: 10px;
}

#sign-in {
    margin-bottom: 10px;
}